:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primary: #008BFE;
  --color-card: #FFFFFF;
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-card);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
